.DataTable {
    padding: 16px 8px;
    max-width: 96%;
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;

    .th {
        position: relative;
        cursor: pointer;

        i {
            position: absolute;
            right: 4px;
        }

        &:hover {
            i {
                opacity: 1 !important;
            }
        }


    }

    td {
        word-break: break-all;
    }
}