.DataTable {
    padding: 16px 8px;
    max-width: 96%;
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;

    .th {
        position: relative;
        cursor: pointer;

        i {
            position: absolute;
            right: 4px;
        }

        &:hover {
            i {
                opacity: 1 !important;
            }
        }


    }

    td {
        word-break: break-all;
        padding: 2px 4px !important;
        border-bottom: 1px solid #303032 !important;
    }

    tr.active {
        // background-color: #b3e5fc !important;
        filter: brightness(1.25);
        transform: scale(.99);
    }
}